################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpotifyIntegration/.vs/SpotifyIntegration/v16
/.vs
